.general {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.general-left > .fullname {
  font-size: 28px;
  padding: 0;
}

.general-left > .occupation {
  font-size: 20px;
  padding: 0;
}

.general-right > input {
  font-size: 18px;
  padding: 0;
}
