.work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work-header > h2 {
  font-size: 22px;
  margin: 0;
}

.work-group {
  border-left: 2px solid rgb(148, 148, 148);
  margin-left: 10px;
  padding-left: 10px;

  display: grid;
  grid-template-columns: auto auto 30px;
  gap: 20px;
}

.work-left > .work-subtitle, .work-right > .work-subtitle {
  font-size: 18px;
  padding: 0;
}

.work-left > .work-caption {
  font-size: 16px;
  padding: 0;
}

.work-right > textarea {
  font-size: 14px;
  padding: 0;
  resize: none;
}

.work-delete {
  align-self: center;
  justify-self: center;
}

:hover.work-add, :hover.work-delete {
  transition: transform 0.5s ease-in-out 0.1s;
  transform:  rotate(180deg);
  cursor: pointer;
}

.work-header{
  display: flex;
  align-items: center;
  gap: 20px;
}