.work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.work > h2 {
  font-size: 22px;
}

.work-group {
  border-left: 2px solid rgb(148, 148, 148);
  margin-left: 10px;
  padding-left: 10px;

  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.work-left > .work-subtitle, .work-right > .work-subtitle {
  font-size: 18px;
  padding: 0;
}

.work-left > .work-caption {
  font-size: 16px;
  padding: 0;
}

.work-right > textarea {
  font-size: 14px;
  padding: 0;
  resize: none;
}
